body {
  background-image: url("https://ca-times.brightspotcdn.com/dims4/default/5cb95d7/2147483647/strip/true/crop/1800x1772+0+0/resize/1486x1463!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F42%2Faa%2Fdf1ee83562957e1005075818dc86%2Fla-1541209326-2bt0l1jrcb-snap-image");
}

h1 {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 1000%;
}

p {
  margin: 30px;
  background-color: rgba(245, 245, 245, 0.516);
  font-size: x-large;

}

.sumbit {
  background-image: url("https://i.ibb.co/JvskTWD/MRROBO.jpg");
}


